
body{
  width: 100%;
  display: flex;
  flex-direction: column;
}

img{
  width: 100%;
  height: auto;
}

p{
  text-align: justify;
  text-justify: inter-word;
}

.content{
  margin-top: 20px;
  max-width: 640px;
  padding-inline: 20px;
  width: 100%;
}

.content-section{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
  min-height: 100vh;
}

.navbar-brand{
  width: 60px;
}

.bg-default{
  background-color: #bed6d5;
}

.bg-default-dark{
  background-color: #a7c0bf;
}

